@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body {
  background: #DDC4C4;
  font-size: 1.1.rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}